

/* Styling for the bttons to different pickems */
.pickem-button-div{
  position: relative;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: fit-content;

  flex: 2; 
  
}

.pick-button-container {
  position: relative;
  text-align: center;
  display: flex;

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.pick-button-image {
  vertical-align: middle;
  max-width: 400px;
}

.centred-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  pointer-events: none;
}

.bottom-centred-text {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  pointer-events: none;
  width: 300px;
}

.twitch-player-container {
  position: relative;
  width: 100%; 
  min-width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.twitch-player-iframe {
  display: flex;
  top: 0;
  left: 0;
  width: 80%;
  aspect-ratio: 16/9;
  /* min-width: 340px;
  height: 100%;
  min-height:400px; */
}
