/* src/style.css */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

button {
  margin: 5px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

input {
  padding: 5px;
  margin: 5px;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
  background-color: #132045;
}

.container {
  width: 100%;
  overflow-x: hidden; /* Ensure content stays within the container */
}

.match-container {
  max-width: 100%;
  box-sizing: border-box; /* Prevent overflow */
  overflow: hidden; /* Hide overflow */
  border: none;
}

/* EASY STYLYING FOR COLOUR SCHEME */
/* WITH HOW our colour scheme changes for every OP this is needed to quickly change the colour scheme */
.primary-colour {
  background-color: #223c56 !important; /* Default primary color */
}

.secondary-colour {
  background-color: #223c56 !important; /* Default secondary color */
}

.teriary_colour {
  background-color: #f2b705 !important; /* Default tertiary color, note this is not in use currently but feel free if needed */
}

.accent_colour {
  background-color: #c776e8 !important; /* Default accent color */
}

.background_colour {
  background-color: #5ea3a9 !important; /* Default accent color */
}

.text-colour {
  color: #ffffff !important; /* Default accent color */
}

/* Bootstrap specific overrides */
.navbar-header {
  background-color: #487e8c !important; /* Apply the background color */
}

.bs-button {
  background-color: #0d3761 !important;
}